#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 6fr 2fr;
  gap: 19px;
  height: 90vh;
  min-height: 0; /* NEW */
  min-width: 0; /* NEW; needed for Firefox */
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 80px 0;
  gap: 20px;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  transition: color 300ms, font-size 300ms, text-decoration 300ms;
  height: 40px;
  animation: slide-in calc(1s * var(--delay));
}

.link:hover {
  font-size: 2em;
  transition: font-size 300ms, text-decoration 300ms;
  text-decoration: underline;
}

@keyframes slide-in {
  0% {
    transform: translateX(-400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  /* background-image: radial-gradient(
    circle at center,
    black 0% 5%,
    #00000000 60% 100%
  );
  background-size: 100% 100%; */
}

.header-text {
  font-size: 300px;
  margin: 0;
  color: black;
  pointer-events: none;
  user-select: none;
  z-index: 3;
}

.header-text-background {
  font-size: 300px;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent;
  position: absolute;
  pointer-events: none;
  user-select: none;
  will-change: transform;
}

.header-text-background.base {
  animation: none !important;
}

@keyframes melt {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateY(200%) scale(0.7);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .content {
    height: auto;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-columns: 1fr;

    justify-content: flex-start;
  }
  .links {
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    align-self: center;
  }
  .link {
    display: flex;
  }
  .header {
    height: auto;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
  }
  .header-text {
    font-size: 150px;
  }
  .header-text-background {
    display: none;
  }
}

footer {
  grid-column: 1/4;
}
